{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    {{ interests.title }}
  </h2>

  <ul class="fa-ul list-unstyled interests-list">
    {% for interest in interests.info %}
      {% if interest.icon %}
      <li><span class="fa-li"><i class="fa {{ interest.icon }}" aria-hidden="true"></i></span>
      {% endif %}
      {% if interest.link %}
      <a href="{{ interest.link }}">{{ interest.item }}</a>
      {% else %}
      {{ interest.item }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
