/* Blue variables */
$theme-primary: #42A8C0;
$text-color: #3F4650;
$text-color-secondary: #545E6C;

$text-color: #3F4650;
$text-color-secondary: #545E6C;
$subtext-color: #97AAC3;
$sidebar-text: #fff;